---
layout: default
title: Home
---


<core-drawer-panel id="drawerPanel">

  <core-header-panel drawer>
      {% include drawer.html %}
   </core-header-panel>

  <core-scroll-header-panel  condenses="true" keepCondensedHeader="true"  main>
    <core-toolbar class="dark-theme tall" id="toolbar" id="mainheader">
      <paper-icon-button 
        id="navicon" icon="menu" class="white"></paper-icon-button>
        <h1 id="title" class="bottom indent title">{{ site.title }}</h1>
    </core-toolbar>
    </core-toolbar>
      
    <div class="main-content">
         {% for post in site.posts %}
        <paper-shadow class="post-card" z="1">
        <card>
        <p class="card-content"><core-icon icon="today"></core-icon> {{ post.date | date: "%Y.%m.%d" }}</p>

        <h1 class="card-content">{{ post.title }}</h1>
            <p class="card-content">{{ post.content | strip_html | truncatewords:50 }}</p>
            <a href="{{ post.url | prepend: site.baseurl }}">
            <paper-button class="card-content"><core-icon icon="add-box"></core-icon> Read More</paper-button></a>
            <br><br>
            </card>
        </paper-shadow>
      
    {% endfor %}
    </div>
  </core-scroll-header-panel>

</core-drawer-panel>
<script src="{{ "/js/common.js" | prepend: site.baseurl }}"></script>
