---
layout: default
---

<core-drawer-panel id="drawerPanel">

  <core-header-panel drawer>
      {% include drawer.html %}
   </core-header-panel>

  <core-scroll-header-panel condenses keepcondensedheader main>
    <core-toolbar class="super-tall" id="mainheader">
      <paper-icon-button 
        id="navicon" icon="menu"></paper-icon-button>
        <h1 class="bottom indent title">{{ page.title }}</h1>

    </core-toolbar>
    <div class="main-content">
          {{ content }}
    </div>
  </core-scroll-header-panel>

</core-drawer-panel>
<script src="{{ "/js/common.js" | prepend: site.baseurl }}"></script>
